/* global styling */

* {
  padding: 0;
  margin: 0;
}

.App {
  background-color: white;
  color: black;
  text-align: center;
  font-family: "Muli", sans-serif;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100vh;
}

.App > *:not(header) {
  height: 100%;
}

/* navbar styling */

header {
  position: sticky;
  top: 0;
  z-index: 1;
}

.navbar {
  background-color: black;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
}

.navbar a {
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 16px;
}

.navbar a:hover {
  background-color: ghostwhite;
  color: black;
}

/* homepage styling */

.homepage {
  height: 100%;
  background-image: url("./images/newspaper.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.homepage h1 {
  color: black;
  font-size: 90px;
  font-weight: 600;
}

/* sort articles styling */

.sort-articles form {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.sort-articles form .input-container {
  width: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5px 15px;
}

/* articles styling */

.articles .articles-dropdowns {
  padding-top: 10px;
  padding-bottom: 10px;
}

.articles .articles-ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  padding: 20px;
}

/* article card styling */

.article-card {
  background-color: whitesmoke;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 200px;
  color: black;
}

/* vote updater styling */

.vote-updater button {
  background-color: white;
  margin: 0 5px;
  width: 45%;
}

.vote-updater h5 {
  padding: 5px;
}

.vote-updater .button-like {
  color: green;
}

.vote-updater .button-dislike {
  color: red;
}

/* topics styling */

.topics-links {
  color: black;
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

/* single article styling */

.single-article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 20px 40px;
}

.single-article h2 {
  padding: 10px 0;
}

.single-article h3 {
  padding: 10px 0;
}

.single-article p {
  padding: 10px 0;
}

.single-article h4 {
  padding: 10px 0;
}

.single-article h5 {
  padding: 10px 0;
}

/* comment card styling */

.comment-card {
  background-color: whitesmoke;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 250px;
  color: black;
}

.comment-card p {
  padding: 10px 0;
}

.comment-card h4 {
  padding: 5px 0;
}

/* single article comments */

.article-comments-ul {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 20px;
  padding: 20px;
}

/* add comment styling */

.add-comment form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.add-comment .comment-box {
  height: 100px;
  width: 300px;
}

/* media queries */

@media only screen and (max-width: 600px) {
  .homepage h1 {
    color: black;
    font-size: 56px;
    font-weight: 400;
    padding: 0;
  }

  .sort-articles form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .sort-articles form .input-container {
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 5px;
    padding: 5px;
  }

  .articles .articles-ul {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
    padding: 5px;
  }

  .single-article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 20px 10px;
  }

  .add-comment form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .add-comment label {
    margin: 5px 0;
    padding: 5px 0;
  }

  .add-comment input {
    margin: 5px 0;
    padding: 5px 0;
  }

  .add-comment button {
    padding: 5px 0;
    margin: 10px 5px;
    width: 50%;
  }

  .article-comments-ul {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
    padding: 5px;
  }

  .comment-card {
    background-color: whitesmoke;
    padding: 5pxpx;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: auto;
    color: black;
  }
}
